<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="">

    <title>{% block page_title %}云师兄在此{% end %}</title>

    <link rel='stylesheet' href='/static/for_front/v1/css/crayon.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/static/for_front/libs/bootstrap/3.3.5/bootstrap.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/static/for_front/libs/font-awesome-4.5.0/css/font-awesome.min.css' type='text/css'
          media='all'/>
    <link rel='stylesheet' href='/static/for_front/v1/css/sparkling.max.css' type='text/css' media='all'/>
    <link rel="stylesheet" href='/static/for_front/v1/css/custom.min.css'/>

    <script type="text/rocketscript" data-rocketsrc='/static/for_front/v1/js/jquery-1.12.4.min.js'></script>
    <script type="text/rocketscript" data-rocketsrc='/static/for_front/v1/js/jquery-migrate.1.4.1.min.js'></script>
    <script type="text/rocketscript" data-rocketsrc='/static/for_front/libs/bootstrap/3.3.5/bootstrap.min.js'></script>

</head>

<body class="archive category category-android category-7 group-blog">

<div id="page" class="hfeed site">

    <header id="masthead" class="site-header" role="banner">
        <nav class="navbar navbar-default " role="navigation">
            <div class="container">
                <div class="row">
                    <div class="site-navigation-inner col-sm-12">
                        <div class="navbar-header">

                            <div id="logo">
                                <p class="site-name">
                                    <a class="navbar-brand" href="#" title="云师兄在此" rel="home">云师兄在此</a>
                                </p>
                            </div><!-- end of #logo -->


                        </div>
                    </div>
                </div>
            </div>
        </nav><!-- .site-navigation -->
    </header><!-- #masthead -->

    <div id="content" class="site-content">

        <div class="top-section">
        </div>

        <div class="container main-content-area">
            <div class="row pull-left">
                <div class="main-content-inner col-sm-12 col-md-8">

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">

                            {% block page_content %}{% end %}

                        </main><!-- #main -->
                    </div><!-- #primary -->

                </div>
                <div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
                    <div class="well">


                        <aside id="sparkling-cats-3" class="widget sparkling-cats">
                            <h3 class="widget-title">
                                文章分类</h3>

                            <div class="cats-widget">
                                <ul>
                                    {% for cat_dto in cat_list %}

                                    <li class="cat-item cat-item-7 current-cat"><a
                                            href="#">{{cat_dto.label}}</a>
                                        <span>201</span>
                                    </li>
                                    {% end %}
                                </ul>

                            </div><!-- end widget content -->

                        </aside>

                        {% block page_right_component %}{% end %}

                    </div>
                </div><!-- #secondary -->
            </div><!-- close .row -->
        </div><!-- close .container -->
    </div><!-- close .site-content -->

    <div id="footer-area">
        <div class="container footer-inner">
            <div class="row">


                <div class="footer-widget-area">
                    <div class="col-sm-4 footer-widget" role="complementary">
                        <div id="text-8" class="widget widget_text"><h3 class="widgettitle">About</h3>
                            <div class="textwidget">欢迎来到这个博客
                            </div>
                        </div>
                    </div><!-- .widget-area .first -->

                    <div class="col-sm-4 footer-widget" role="complementary">
                        <div id="nav_menu-2" class="widget widget_nav_menu"><h3 class="widgettitle">Useful Links</h3>
                            <div class="menu-useful-links-container">
                                <ul id="menu-useful-links" class="menu">
                                    <li id="menu-item-396"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-396"><a
                                            href="mailto:imyunshi@163.com">给我写邮件</a></li>

                                </ul>
                            </div>
                        </div>
                    </div><!-- .widget-area .second -->

                </div>
            </div>
        </div>

        <footer id="colophon" class="site-footer" role="contentinfo">

            <div class="scroll-to-top"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
        </footer><!-- #colophon -->
    </div>
</div><!-- #page -->
